*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;   
}
body{
    background: #02316ff7;
    /* background:#333; */
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;   
}
.display{
    display: flex;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #727272f9;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 10px;
}
.container h1{
    font-weight: 600;
    font-size: 50px;
}
.container span{
    font-weight: 500;
    font-size: 45px;
    color: #049350;
    border-bottom: 4px solid  #019f55;
    padding-bottom: 10px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 20px;
    padding-left: 15px;
}
.container button img{
    width: 30px;
    margin-left: 1px;
    padding-right: 10px;
}
.container button{
    margin: 0;
    outline: 0;
    font-size: 22px;
    background: #019f55;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 30px;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
}